#side-menu.open {
    height: 100vh; /* Expand to full height when open */
  }

#side-menu {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 40px; 
    height: 40px;
    background-color: #150552;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s;
    overflow-x: hidden;
    border-radius: 20px; /* Make it circular */
}

.menu-group{
    border: 5px solid #150552;
    color: #150552;
    padding: 5px;
    margin-bottom: 0;
    background-color: #ffffff;
}

#side-menu h2 {
    color: #ffffff;
}

#side-menu a {
    color: #ffffff;
    /* padding: 10px; */
}

#side-menu label {
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #dddddd;
    display: block;
    transition: 0.3s;
}

#side-menu label:hover {
    color: #f1f1f1;
}