body {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #150552;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#main {
    padding: 5px;
    margin: 5px;
    padding-top: 0px;
}
p {
    font-size: 18px;
}

#subjects-list a {
    display: block;
    font-size: 15px;
}

a:link, a:visited {
    color: #150552;
}

a:hover {
    color: rgb(36, 26, 185);
}

#countdown {
    font-size: 24px;
    margin-top: 2px;
}

/* table */
table, th, td, tr {
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: center;
    padding: 10px 15px;
  }

@media only screen and (max-width: 600px) {
    table, th, td, tr {
        padding: 5px;
      }    
}

[id*="unitTitle"] {
    font-size: 13px;
}

table h2 {
    margin: 0px;
}

.section {
    background-color: #ff5e00b4;
}

th{
    font-size: 15px;
}

.small{
    font-size: 15px;
}

#subjectsTable {
    margin: auto;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

/* Back Button */
#back-button {
    position: fixed; /* Fix button position relative to viewport */
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
    border: none; /* Remove default border */
    background-color: #150552; /* Set background color */
    color: white; /* Set text color */
    padding: 10px 10px; /* Adjust padding for desired size */
    border-radius: 50%; /* Make button circular */
    cursor: pointer; /* Show pointer on hover */
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

footer {
    background-color: #150552; 
    color: white;
    padding: 15px 10px;
    width: 100%-20px;
    margin: 50px 0px 0px 0px;
}