body {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #150552;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#main {
    padding: 5px;
    margin: 5px;
    padding-top: 0px;
}
p {
    font-size: 18px;
}

#subjects-list a {
    display: block;
    font-size: 15px;
}

a:link, a:visited {
    color: #150552;
}

a:hover {
    color: rgb(36, 26, 185);
}

#countdown {
    font-size: 24px;
    margin-top: 2px;
}

/* table */
table, th, td, tr {
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: center;
    padding: 10px 15px;
    overflow-x: auto;
  }

/* PHONE ONLY: */
@media only screen and (max-width: 800px) {
    table, th, td, tr {
        padding: 5px;
      }
}

#exam-table, #timetable-table {
    padding: 5px;
    overflow-x: auto;
}

[id*="unitTitle"] {
    font-size: 13px;
}

table h2 {
    margin: 0px;
}

.section {
    background-color: #ff5e00b4;
}

th{
    font-size: 15px;
}

.small{
    font-size: 15px;
}

#subjectsTable {
    margin: auto;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

/* Back Button */
#back-button {
    position: fixed; /* Fix button position relative to viewport */
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
    border: none; /* Remove default border */
    background-color: #150552; /* Set background color */
    color: white; /* Set text color */
    padding: 10px 10px; /* Adjust padding for desired size */
    border-radius: 50%; /* Make button circular */
    cursor: pointer; /* Show pointer on hover */
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

footer {
    background-color: #150552; 
    color: white;
    padding: 15px 10px;
    width: 100%-20px;
    margin: 50px 0px 0px 0px;
}

/* Menu Button */
#open-menu-btn, #timetable-btn, #calendar-btn {
    background-color: #150552;
    color: white; /* Adjust text color if needed */
    text-align: center;
    cursor: pointer;
    z-index: 2;
    position: fixed;
  }

#open-menu-btn {
    top: 30px;
    border-radius: 50%; /* Make it circular */
    line-height: 40px; /* Vertically center the text */
    left: 20px;
    width: 40px;
    height: 40px;
  }

/* Timetable Button */
#timetable-btn {
    top: 30px;
    right: 20px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
  }

#calendar-btn {
    top: 90px;
    right: 20px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}
/* PHONE ONLY: */
@media only screen and (max-width: 600px) {
    #open-menu-btn, #timetable-btn {
        top: 100px;
      }
    .spacing{
        padding: 10px;
    }
}